.content-container{
    flex: 6;
    background-color:aqua;
    /* height: calc(100vh - 50px); */
    height: auto;
    padding: 20px;
}

.charts {
    border-radius: 4;
    text-align: center;
    color:bisque;
    height:300px;
}

.heat-map{
    border-radius: 4;
    text-align: center;
    color:bisque;
    height:500px;
}

.list-view{
    border-radius: 4;
    text-align: center;
    color:bisque;
    height:500px;
}
    