.content-container{
    flex: 6;
    /* height: calc(100vh - 50px); */
    height: auto;
    padding: 20px;
}

.charts {
    border-radius: 4;
    text-align: center;
    color:bisque;
}

.heat-map{
    border-radius: 4;
    text-align: center;
    color:bisque;
    height: auto;
}

.list-view{
    border-radius: 4;
    text-align: center;
    color:bisque;
    height: 100%;
}
    