*{
  font-family: 'Source Sans Pro', sans-serif;
}

.app-container{
  margin: 0;
  padding:0;
}

.dashboard-container{
  display: flex;
}

.dashboard-content {
  flex: 8;
  background-color:#fff;
}

a {
  text-decoration: none;
  color: #555;
}