.chart{
    padding: 20px 20px 10px 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.chart-title-panel {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.expand-panel{
    cursor: pointer;
}

.chart-tile{
    margin: 0 !important;
}

.panel-controls{
    display:flex;
    justify-content: space-between;
    align-content: center;
    width:170px;
}

.form-control{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    margin: 4px;
}

.form-label{
    margin-right: 5px;
    font-size: 18px;
}